<nav class="navbar navbar-light bg-primary">
    <a class="navbar-brand" href="/">
        <style>
            .title{
                color: #fff;
            }
        </style>
        <h1 class="title" >AskSome1</h1>
    </a>
</nav>